@import "../../../../variables.scss";

.details {
	display:     flex;
	gap:         3em;
	padding-top: 2em;
}

.list {
	width:     30%;
	max-width: 360px;
}

.main {
	width:     70%;
	max-width: 700px;
}
