@import "../../../variables.scss";

.button {
	padding:          .5rem 1.5rem;
	background-color: $lightGrey;
	font-weight:      400;
	color:            $black;

	&:hover {
		background-color: $lightGrey;
		color:            $black;
		cursor:           pointer;
	}
}

.icon {
	margin: 0 .4em 0 -.5em;
}

.default {

}

.primary {
	background: $lightGreen;
}