@import "../../../../../variables.scss";

.rowHolder {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    div {
        width: auto;
        min-width: min-content;
        .inputSelect {
            font-size: 0.875rem;
            padding: 0;
            div {
              padding: 0;
            }
            fieldset {
              border: 0;
              border-bottom: 1px solid rgba($black, 0.2);
              border-radius: 0;
            }
        }
    }

    p {
        display: none;
    }

    // .removeRow {
    //   display: none;
    // }
    // &:hover .removeRow {
    //   display: flex;
    // }
    // .inputField {
    //   width: 100px;
    // }

    .valueIcon {
        display: flex;
        align-items: center;
        input {
            width: 100px;
        }
    }

    .removeRow {
        color: $danger;
        margin-left: auto;
    }
}
