@import "../../../../../variables.scss";

.variationSectionTitle {
    // width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 1.05rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.variationSectionBody {
    padding: 1em;
}

.productVariation {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}
.productVariationHeading {
    padding: 0.1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productVariationTitle {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productVariationBody {
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}
