@import '../../../../variables.scss';

.tabs {
    margin-left: 0.5rem !important;
}

.tabsActive {
    background-color: $lightGreen  !important;
    color: $white  !important;
}

.tabsPasive {
    background-color: $lightGrey  !important;
    color: $black  !important;
}

.tabsPasive:hover {
    background-color: $lightGreen  !important;
    color: $white  !important;
}

.tabsBtnCreate {
    position: absolute !important;
    right: 0 !important;
    margin-right: 3rem !important;
    background-color: $lightBlue  !important;
    color: $white  !important;
}

.tabsBtnCreate:hover {
    background-color: $lightGrey  !important;
    color: $black  !important;
    cursor: pointer !important;
}

.tabsBtnBack {
    position: absolute !important;
    right: 0 !important;
    margin-right: 3rem !important;
    background-color: $lightGrey  !important;
    color: $black  !important;
}

.tabsBtnBack:hover {
    background-color: $lightGrey  !important;
    color: $black  !important;
    cursor: pointer !important;
}