.table {
	border-radius: 0 !important;

	tr {
		&:hover {
			td {
				color: var(--main-color);
			}
		}

		> th {
			font-weight:      bold;
			font-size:        0.9375rem;
			background-color: var(--main-bg-color);
			border-radius:    0;
			padding:          .5rem 1rem
		}

		> td {
			padding: 0 1rem;
			color:   var(--dark-silver);
			svg {
				fill: var(--transparent-blue);
			}
		}

		&:last-child > td {
			border-bottom: none;
		}
	}
}
