// Module scss - main advantage of module scss/css is that 
// you will not get in situation that styles are mixed for sam class name

.paperStyle {
    padding-top: 1rem !important;
    width: 100%;
    height: 90vh;
}