@import "../../../../variables.scss";

.details {
    display: flex;
    gap: 3em;
    padding-top: 2em;
}

.list {
    width: 100%;
    max-width: 360px;
}

.main {
    width: 100%;
    max-width: 100%;
}
