@import "../../../../variables.scss";

.title {
  font-weight: bold !important;
  font-size: 1.3em !important;
  margin: 0 !important;
  margin-top: 10px !important;
  margin-bottom: 60px !important;
}

.list {
  & > ul {
    & > div {
      &:first-child {
        margin: 5rem 1rem;
        overflow: visible;
        white-space: nowrap;
      }
    }
    li {
      background-color: var(--main-bg-color);
      &:hover {
        background-color: var(--main-color);
        color: white;
      }
      &.Mui-selected {
        background-color: var(--main-color);
      }
    }
  }
}
