@import "../../../../variables.scss";

.list {
  & > ul {
    & > div {
      &:first-child {
        overflow: visible;
        white-space: nowrap;
      }
    }
    li {
      background-color: var(--main-bg-color);
      &:hover {
        background-color: var(--main-color);
        color: white;
      }
      &.Mui-selected {
        background-color: var(--main-color);
      }
    }
  }
}
