@import "../../../variables.scss";

.toolBarStyle {
    text-align: left;
}

.titleStyle {
    margin: 1rem !important;
    display: inline;
}

.tabsBtnCreate {
    right: 0.5rem !important;
    background-color: $lightBlue !important;
    color: $white !important;
    display: inline-block;
    float: right;
    position: relative;
}

.tabsBtnCreate:hover {
    background-color: $lightGrey !important;
    color: $black !important;
    cursor: pointer !important;
}

.wrapper {
    margin-top: 2rem;
    max-height: calc(100vh - 26.75rem);
    position: relative;

    table {
        border: 1px solid rgba(224, 224, 224, 1);

        tr {
            & > td {
                padding: 0.4rem 2rem;
                color: var(--dark-silver);
                box-sizing: border-box;
                svg {
                    fill: var(--transparent-blue);
                    font-size: 1rem !important;
                }
            }

            &:hover {
                td {
                    color: var(--main-color);
                }
            }
        }
    }
}

.table {
    height: 50vh;
    position: relative;
    border-collapse: collapse;
}

.thead {
    position: sticky;
    top: 0;
    z-index: 70;
    background-color: white;
}

.tbody {
    z-index: 20;
    height: 100%;
    overflow-y: auto;
    display: block;
}

.tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures the columns align with the thead */
}

.tbody td {
    border-bottom: 1px solid gray; /* Optional: to style the rows */
}

.thead tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures the columns align with tbody */
}

.toolbarButtonsGroup {
    display: flex;
}

.toolbarButtons {
    background-color: $lightGrey !important;
    color: $black !important;
}

// RESPONSIVE

@media only screen and (max-width: 900px) {
    .wrapper {
        max-height: none;
    }
}
