.headStyle {
	font-weight:      bold !important;
	font-size:        0.9em;
	background-color: var(--main-bg-color);
	padding:          0.5rem 1rem 0.5rem 31px !important;
	border-bottom:    none !important;;
}
